extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class='container-fluid')
    each message in messages 
      if !user
        div(class='card')
          p(class='card-text') #{message.content}
        p &nbsp;
      if user
        if user.status==="New"
          div(class='card')
            p(class='card-text') #{message.content}
          p &nbsp;
        if user.status==="Member"
          div(class='card')
            h5(class='card-title') #{message.original_poster.username}
            p(class='card-text') #{message.content}
          div(class='card-footer text-muted') #{message.timestamp_formatted}
          p &nbsp;

  if user 
    p Holy shit is that #{user.username}???
    p You are a #{user.status}
    a(href='/new-message') Post!!!