extends layout

block content
  h1= title
  p Welcome to #{title}

  div(class='container-fluid')
    if user 
      a(href="/new-message" class="btn btn-primary") Post to the Club!
      p &nbsp;
    each message in messages 
      if !user
        div(class='card')
          h3(class='card-title') #{message.content}
        p &nbsp;
      if user
        if user.status==="New"
          div(class='card')
            h3(class='card-title') #{message.content}
          p &nbsp;
        if user.status==="Member"
          div(class='card')
            h3(class='card-title') #{message.content}
            div(class='card-footer text-muted') Posted by #{message.original_poster.username} at #{message.timestamp_formatted}
          p &nbsp;